html, body{
  margin:0px;
  color:#009999;
  height:100%;
  /*background-color:#9FBEB9;*/
}

h1{
  color:#9e3e6e;
  font-family: "Palatino Linotype";
  background-color:white;
}

#navbar{
  display:inline-block;
  height:100%;
  width:29%;
  background-color: white;/*#96B7B0;*//*#75003B;*/
}

#content{
  display:inline-block;
  height:100%;
  width:71%;
  float:right;
  background-color:white;
}

/*#mtn{
  width:100%;
  margin:0px;
}

#credits{
  position:fixed;
  bottom:0;
  font-size:60%;
}
*/
