html, body{
  margin:0px;
  color:#3a1000;
  height:100%;
  background-color:#F8F8F8;/*#9FBEB9;*/
}

h1{
  color:#3a1000;
  font-family: monospace;
  font-weight:bold;
  font-size:130%;
  background-color:#fffae6;
  border-bottom:solid #007b89;
}

#navbar{
  display:inline-block;
  height:100%;
  width:29%;
  background-color:#fffae6;
}

#navbar p{
  font-family:monospace;
  font-weight:bold;
  font-size:110%;
  /*background-color:#ffebc1;*/
}

#content{
  display:inline-block;
  height:100%;
  width:71%;
  float:right;
  background-color:#fffae6;
}

/*#mtn{
  width:100%;
  margin:0px;
}

#credits{
  position:fixed;
  bottom:0;
  font-size:60%;
}
*/
